absl-py==1.3.0
appdirs==1.4.4
apturl==0.5.2
asn1crypto==0.24.0
attrs==17.4.0
automat==0.6.0
blinker==1.4
brlapi==0.6.6
cachetools==5.2.0
certifi==2018.1.18
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
cloud-init==22.4.2
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.0.6
cryptography==2.1.4
cupshelpers==1.0
cycler==0.11.0
defer==1.0.6
distlib==0.3.6
distro-info==0.18ubuntu0.18.04.1
docker-pycreds==0.4.0
fail2ban==0.10.2
filelock==3.9.0
fonttools==4.38.0
gitdb==4.0.10
gitpython==3.1.30
google-auth-oauthlib==0.4.6
google-auth==2.15.0
grpcio==1.51.1
httplib2==0.9.2
huggingface-hub==0.11.1
hyperlink==17.3.1
idna==2.6
imageio==2.22.4
importlib-metadata==5.1.0
incremental==16.10.1
jinja2==2.10
joblib==1.2.0
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.5.0
macaroonbakery==1.1.3
mako==1.0.7
markdown==3.4.1
markupsafe==2.1.1
matplotlib==3.6.2
netifaces==0.10.4
networkx==2.8.8
numpy==1.23.5
oauth==1.0.1
oauthlib==3.2.2
olefile==0.45.1
opencv-python==4.6.0.66
packaging==22.0
pam==0.4.2
pathtools==0.1.2
pexpect==4.2.1
pillow==9.3.0
pip==22.3.1
protobuf==3.20.3
psutil==5.9.4
pyasn1-modules==0.2.1
pyasn1==0.4.2
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.26.1
pyinotify==0.9.6
pyjwt==1.5.3
pymacaroons==0.13.0
pynacl==1.1.2
pyopenssl==17.5.0
pyparsing==3.0.9
pyrfc3339==1.0
pyserial==3.4
python-apt==1.6.6
python-dateutil==2.8.2
python-debian==0.1.32
pytz==2018.3
pywavelets==1.4.1
pyxdg==0.25
pyyaml==6.0
reportlab==3.4.0
requests-oauthlib==1.3.1
requests-unixsocket==0.1.5
requests==2.28.2
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.9.3
screen-resolution-extra==0.0.0
secretstorage==2.3.1
sentry-sdk==1.14.0
service-identity==16.0.0
setproctitle==1.3.2
setuptools==66.0.0
simplejson==3.13.2
six==1.11.0
smmap==5.0.0
sos==4.4
ssh-import-id==5.7
system-service==0.3
systemd-python==234
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.11.0
termcolor==2.2.0
threadpoolctl==3.1.0
tifffile==2022.10.10
timm==0.6.12
torch-geometric==2.2.0
torch-summary==1.4.5
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
torchmetrics==0.11.0
torchvision==0.14.1+cu116
tqdm==4.64.1
transforms==0.1
twisted==17.9.0
typing-extensions==4.4.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.14
usb-creator==0.3.3
virtualenv==15.1.0
wadllib==1.3.2
wandb==0.13.9
werkzeug==2.2.2
wget==3.2
wheel==0.38.4
xkit==0.0.0
yacs==0.1.8
zipp==3.11.0
zope.interface==4.3.2